{% extends "layout.html" %}
{% block page_title %}Customer profiling{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block text_title %}Profile statistics for a specific customer{% endblock %}
{% block main_part %}
  
<div>
<h4>Select a customer by card ID or by name</h4>
<form method="POST" action="/customer-stats">
    <label for="card_id">Customer card ID</label>
    <input type="text" id="card_id" name="insert_card"><br>
    <label for="customer_name">Customer name</label>
    <input type="text" id="customer_name" name="insert_name"><br>
    <input type="submit" value="Show statistics"><br>
</form>
</div>

{% if customer != None and data == None %}
<div>
    {% if customer['name'] != None and customer['card_id'] != None %}
        <h4>There are no data for customer "{{ customer['customer_name'] }}" with card ID = {{ customer['card_id'] }}</h4>
    {% elif customer['name'] != None %}
        <h4>There is no registered customer with name "{{ customer['customer_name'] }}"</h4>
    {% elif customer['card_id'] != None %}
        <h4>There is no registered customer with card ID = {{ customer['card_id'] }}</h4>
    {% endif %}
</div>

{% elif customer != None and data != None %}

    <div><h3>Showing statistics for customer "{{ customer['customer_name'] }}" with card ID = {{ customer['card_id'] }}</h3></div>
    <div><h4>Stores the customer shops from</h4>
    <table>
        <tr>
            {% for header in data['stores']['headers'] %}
                <th> {{ header|capitalize }} </th>
            {% endfor %}
        </tr>
        {% for row in data['stores']['table'] %}
            <tr>
            {% for cell in row %}
                <td> {{ cell }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table></div>

    <div><h4>Top 10 favorite products</h4>
    <table>
        <tr>
            {% for header in data['fav_prod']['headers'] %}
                <th> {{ header|capitalize }} </th>
            {% endfor %}
        </tr>
        {% for row in data['fav_prod']['table'] %}
            <tr>
            {% for cell in row %}
                <td> {{ cell }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table></div>

    <div>
    <canvas id="chart-week" width="600" height="300"></canvas>
    <script type="text/javascript">
        var chartLabels = [
            {% for tuple in data['week_avg']['table'] %}
                String({{ tuple[0] }}) + "-" + String({{ tuple[1] }}),
            {% endfor %}
            ]
        var chartData = [
            {% for tuple in data['week_avg']['table'] %}
                {{ tuple[2] }},
            {% endfor %}
        ]
        var chartTitle = "Money spent per week"
        var xLabel = "Week"
        var yLabel = "Amount"
        var maxVal = 0
        {% for tuple in data['week_avg']['table'] %}
            maxVal = Math.max(maxVal, {{ tuple[2] }})
        {% endfor %}
        var canvasID = "chart-week"
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bar_chart.js') }}"></script>
    <div>

    <div>
    <canvas id="chart-month" width="600" height="300"></canvas>
    <script type="text/javascript">
        var chartLabels = [
            {% for tuple in data['month_avg']['table'] %}
                String({{ tuple[0] }}) + "-" + String({{ tuple[1] }}),
            {% endfor %}
            ]
        var chartData = [
            {% for tuple in data['month_avg']['table'] %}
                {{ tuple[2] }},
            {% endfor %}
        ]
        var chartTitle = "Money spent per month"
        var xLabel = "Month"
        var yLabel = "Amount"
        var maxVal = 0
        {% for tuple in data['month_avg']['table'] %}
            maxVal = Math.max(maxVal, {{ tuple[2] }})
        {% endfor %} 
        var canvasID = "chart-month"
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bar_chart.js') }}"></script>
    <div>

    <div>
    <canvas id="chart-hour" width="600" height="300"></canvas>
    <script type="text/javascript">
        var chartLabels = [...Array(24).keys()]
        var chartData = new Array(24).fill(0)
        {% for tuple in data['fav_hour']['table'] %}
            chartData[{{ tuple[1] }}] = {{ tuple[0] }}
        {% endfor %}
        var chartTitle = "Shopping frequency by hour"
        var xLabel = "Hours of the day"
        var yLabel = "Percentage of total visits"
        var canvasID = "chart-hour"
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bar_chart.js') }}"></script>
    </div>

{% endif %}
{% endblock %}
