<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: sans-serif;
  border-collapse: collapse;
  table-layout: auto
  width: 90%;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  background-color: #dddddd;
}
</style>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>

<h2>Show statistics for a specific customer</h2>
<h3>Select a customer</h3>

<div>
<form method="POST" action="/customer-stats">
    <label for="card_id">Insert customer card ID:</label>
    <input type="text" id="card_id" name="insert_card"><br>
    <label for="customer_name">Alternatively insert customer name:</label>
    <input type="text" id="customer_name" name="insert_name">
    <input type="submit" value="Show statistics">
</form>
</div>

{% if customer != None and data == None %}
<div>
    {% if customer['name'] != None %}
        <h4>There is no registered customer with name "{{ customer['customer_name'] }}"</h4>
    {% elif customer['card_id'] != None %}
        <h4>There is no registered customer with card ID = {{ customer['card_id'] }}</h4>
    {% endif %}
</div>

{% elif customer != None and data != None %}

    <div><h3>Showing statistics for customer "{{ customer['customer_name'] }}" with card ID = {{ customer['card_id'] }}</h3></div>
    <div><h4>Stores the customer shops from</h4>
    <table>
        <tr>
            {% for header in data['stores']['headers'] %}
                <th> {{ header|capitalize }} </th>
            {% endfor %}
        </tr>
        {% for row in data['stores']['table'] %}
            <tr>
            {% for cell in row %}
                <td> {{ cell }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table></div>

    <div><h4>Top 10 favorite products</h4>
    <table>
        <tr>
            {% for header in data['fav_prod']['headers'] %}
                <th> {{ header|capitalize }} </th>
            {% endfor %}
        </tr>
        {% for row in data['fav_prod']['table'] %}
            <tr>
            {% for cell in row %}
                <td> {{ cell }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table></div>

    <div><h4>Total amount per week</h4>
    <table>
        <tr>
            {% for header in data['week_avg']['headers'] %}
                <th> {{ header|capitalize }} </th>
            {% endfor %}
        </tr>
        {% for row in data['week_avg']['table'] %}
            <tr>
            {% for cell in row %}
                <td> {{ cell }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table></div>

    <div><h4>Total amount per month</h4>
    <table>
        <tr>
            {% for header in data['month_avg']['headers'] %}
                <th> {{ header|capitalize }} </th>
            {% endfor %}
        </tr>
        {% for row in data['month_avg']['table'] %}
            <tr>
            {% for cell in row %}
                <td> {{ cell }} </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table></div>


    <div><h4>Shopping frequency by hour</h4>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in data['fav_hour']['labels'] %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in data['fav_hour']['values'] %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{ data['fav_hour']['max'] }}

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script></div>

{% endif %}

</body>
