{% extends "layout.html" %}
{% block page_title %}Database web app{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block text_title %}Supermarket database web application{% endblock %}
{% block main_part %}
  <p>This is a web application that aims at storing, managing and analysing the data gathered by a supermarket chain. Data about the stores, the customers, the transactions and the products are stored at the database. The web application offers the following functionalities:</p>
  <ul>
    <li>Presentation of the data stored in the database using multiple filters</li>
    <li>Presentation of the registered customers' profile and shopping habits</li>
    <li>Statistical analysis of the transactions carried out in the supermarkets</li>
    <li>Modification of the database entries (insert, edit or delete product, store and customer info)</li>
    <li>Presentation of the price history for all products</li>
  </ul>
  <p>Use the menu on the left to navigate through the website.</p>
{% endblock %}
