<!DOCTYPE html>
<html>
<body>

<div>
<h3>Select a table to modify and the desired action</h3>
<form method="POST" action="/modify-tables">
    <input type="hidden" name="form_step" value="one">
    <select id="action_dropdown" name="select_action">
        <option value="" selected disabled hidden>Select an action</option>
        <option value="insert"
            {% if selected['action'] == 'insert' %}
                selected
            {% endif %}
        >Insert</option>
        <option value="delete"
            {% if selected['action'] == 'delete' %}
                selected
            {% endif %}
        >Delete</option>
        <option value="modify"
            {% if selected['action'] == 'modify' %}
                selected
            {% endif %}
        >Modify</option>
    </select>
    <select id="table_dropdown" name="select_table">
        <option value="" selected disabled hidden>Select a table</option>
        <option value="Customer" 
            {% if selected['table'] == 'Customer' %}
                selected
            {% endif %}
        >Customer</option>
        <option value="Store"
            {% if selected['table'] == 'Store' %}
                selected
            {% endif %}
        >Store</option>
        <option value="Product"
            {% if selected['table'] == 'Product' %}
                selected
            {% endif %}
        >Product</option>
    </select>
    <input class="btn" type="submit" value="Select"><br><br>
</form>
</div>

<div>
{% if selected['action'] in ['modify', 'delete']  %}
    <form method="POST" action="/modify-tables">
    <input type="hidden" name="form_step" value="three">
    <input type="hidden" name="select_action" value="{{ selected['action'] }}">
    <input type="hidden" name="select_table" value="{{ selected['table'] }}">
    {% if selected['table'] == 'Customer' %}
        <label for="card_id">Card ID</label>
        <input type="text" id="card_id" name="insert_card"><br>
        <label for="customer_name">Or insert customer name</label>
        <input type="text" id="customer_name" name="insert_name">
     {% elif selected['table'] == 'Store' %}
        <label for="store_id">Insert store ID</label>
        <input type="text" id="store_id" name="insert_store_id">
     {% elif selected['table'] == 'Product' %}
        <label for="barcode">Insert product barcode</label>
        <input type="text" id="barcode" name="insert_barcode"> 
     {% endif %}
     <input class="btn" type="submit" value="Search"><br><br>
     </form>

     {% if step == 'four' and selected['action'] == 'modify' %}

         {% if selected['table'] == 'Customer' %}
             {% if selected['customer_name'] == None %}
                 <p>There is no registered customer with card ID = {{ selected['card_id'] }}</p>
             {% elif selected['card_id'] == None %}
                 <p>There is no registered customer named "{{ selected['customer_name'] }}"</p>
             {% else %}
                 <form method="POST" action="/modify-tables">
                 <input type="hidden" name="form_step" value="five">
                 <input type="hidden" name="select_action" value="{{ selected['action'] }}">
                 <input type="hidden" name="select_table" value="{{ selected['table'] }}">
                 <input type="hidden" name="insert_card_id" value="{{ selected['card_id'] }}">
                 <label for="card_id">Card ID</label>
                 <input type="text" id="card_id" name="disabled_card_id" value="{{ selected['card_id'] }}" disabled><br>
                 {% for d in ['customer_name','date_of_birth','reg_date','points','pet','sex','street_name','street_number','city','postal_code'] %}
                     <label for={{ d }}>{{ d }}</label>
                     <input type="text" id={{ d }} name="insert_{{ d }}" value="{{ selected[d] }}"><br>
                 {% endfor %}
                 <br><input class="btn" type="submit" value="Modify"><br> 
                 </form>
             {% endif %}

         {% elif selected['table'] == 'Product' %}
             {% if selected['product_name'] == None %}
                 <p>There is no registered product with barcode = {{ selected['barcode'] }}</p>
             {% else %}
                 <form method="POST" action="/modify-tables">
                 <input type="hidden" name="form_step" value="five">
                 <input type="hidden" name="select_action" value="{{ selected['action'] }}">
                 <input type="hidden" name="select_table" value="{{ selected['table'] }}">
                 <input type="hidden" name="insert_barcode" value="{{ selected['barcode'] }}">
                 <label for="barcode">Barcode</label>
                 <input type="text" id="barcode" name="disabled_barcode" value="{{ selected['barcode'] }}" disabled><br>
                 {% for d in ['product_name','label','current_price','category_id'] %}
                     <label for={{ d }}>{{ d }}</label>
                     <input type="text" id={{ d }} name="insert_{{ d }}" value="{{ selected[d] }}"><br>
                 {% endfor %}
                 <br><input class="btn" type="submit" value="Modify"><br>
                 </form>
             {% endif %}

         {% elif selected['table'] == 'Store' %}
             {% if selected['store_name'] == None %}
                 <p>There is no store with ID = {{ selected['store_id'] }}</p>
             {% else %}
                 <form method="POST" action="/modify-tables">
                 <input type="hidden" name="form_step" value="five">
                 <input type="hidden" name="select_action" value="{{ selected['action'] }}">
                 <input type="hidden" name="select_table" value="{{ selected['table'] }}">
                 <input type="hidden" name="insert_store_id" value="{{ selected['store_id'] }}">
                 <label for="store_id">Store ID</label>
                 <input type="text" id="store_id" name="disabled_store_id" value="{{ selected['store_id'] }}" disabled><br>
                 {% for d in ['store_name','area','opening_hours','street_name','street_number','city','postal_code'] %}
                     <label for={{ d }}>{{ d }}</label>
                     <input type="text" id={{ d }} name="insert_{{ d }}" value="{{ selected[d] }}"><br>
                 {% endfor %}
                 <br><input class="btn" type="submit" value="Modify"><br>
                 </form>
             {% endif %}

         {% endif %}

     {% endif %}

     {% if step == 'four' and selected['action'] == 'delete' %}

         {% if selected['table'] == 'Customer' %} 
             {% if selected['customer_name'] == None %}
                 <p>There is no registered customer with card ID = {{ selected['card_id'] }}</p>
             {% elif selected['card_id'] == None %}
                 <p>There is no registered customer named "{{ selected['customer_name'] }}"</p>
             {% else %}
                 <p>Are you sure you want to delete customer "{{ selected['customer_name'] }}" with card ID = {{ selected['card_id'] }}?</p>
                 <form method="POST" action="/modify-tables">
                 <input type="hidden" name="form_step" value="five">
                 <input type="hidden" name="select_action" value="delete">
                 <input type="hidden" name="select_table" value="Customer">
                 <input type="hidden" name="insert_card_id" value="{{ selected['card_id'] }}">
                 <input class="btn" type="submit" value="Delete">
                 </form>
             {% endif %}

         {% elif selected['table'] == 'Product' %}
             {% if selected['product_name'] == None %}
                 <p>There is no registered product with barcode = {{ selected['barcode'] }}</p>
             {% else %}
                 <p>Are you sure you want to delete product "{{ selected['product_name'] }}" with barcode = {{ selected['barcode'] }}?</p>
                 <form method="POST" action="/modify-tables">
                 <input type="hidden" name="form_step" value="five">
                 <input type="hidden" name="select_action" value="delete">
                 <input type="hidden" name="select_table" value="Product">
                 <input type="hidden" name="insert_barcode" value="{{ selected['barcode'] }}">
                 <input class="btn" type="submit" value="Delete">
                 </form>
             {% endif %}

         {% elif selected['table'] == 'Store' %}
             {% if selected['store_name'] == None %}
                 <p>There is no store with ID = {{ selected['store_id'] }}</p>
             {% else %}
                 <p>Are you sure you want to delete store "{{ selected['store_name'] }}" with store ID = {{ selected['store_id'] }}?</p>
                 <form method="POST" action="/modify-tables">
                 <input type="hidden" name="form_step" value="five">
                 <input type="hidden" name="select_action" value="delete">
                 <input type="hidden" name="select_table" value="Store">
                 <input type="hidden" name="insert_store_id" value="{{ selected['store_id'] }}">
                 <input class="btn" type="submit" value="Delete">
                 </form>
             {% endif %}

         {% endif %}

{% endif %}

{% elif selected['action'] == 'insert' %}
    {% if selected['table'] == 'Customer' %}
        <h4>Insert the following data for the new customer</h4>
        <form method="POST" action="/modify-tables">
        <input type="hidden" name="form_step" value="three">
        <input type="hidden" name="select_action" value="insert">
        <input type="hidden" name="select_table" value="Customer">
        <label for="card_id">Card ID</label>
        <input type="text" id="card_id" name="insert_card_id"><br>
        <label for="customer name">Customer name</label>
        <input type="text" id="customer_name" name="insert_customer_name"><br>
        <label for="dob_calender">Date of Birth</label>
        <input type="date" id="dob_calender" name="insert_date_of_birth"><br>
        <label for="sex_dropdown">Sex</label>
        <select id="sex_dropdown" name="insert_sex">
            <option value="" selected disabled hidden>-</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select><br>
        <label for="pet_dropdown">Pet</label>
        <select id="pet_dropdown" name="insert_pet">
            <option value="" selected disabled hidden>-</option>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Parrot">Parrot</option>
            <option value="">None</option>
        </select><br>
        <label for="street">Street</label>
        <input type="text" id="street" name="insert_street_name">
        <label for="street_no">Number</label>
        <input type="text" id="street_no" name="insert_street_number">
        <label for="postal_code">Postal code</label>
        <input type="text" id="postal_code" name="insert_postal_code">
        <label for="city">City</label>
        <input type="text" id="city" name="insert_city"><br><br>
        <input class="btn" type="submit" value="Insert">
        </form>

    {% elif selected['table'] == 'Product' %}
        <h4>Insert the following data for the new product</h4>
        <form method="POST" action="/modify-tables">
        <input type="hidden" name="form_step" value="three">
        <input type="hidden" name="select_action" value="insert">
        <input type="hidden" name="select_table" value="Product">
        <label for="barcode">Barcode</label>
        <input type="text" id="barcode" name="insert_barcode"><br>
        <label for="product_name">Product name</label>
        <input type="text" id="product_name" name="insert_product_name"><br>
        <label for="price">Price</label>
        <input type="text" id="price" name="insert_current_price"><br>
        <label for="category">Choose the product category</label>
        <select id="category" name="insert_category_id">
            <option value="" selected disabled hidden>-</option>
            <option value="1">Fresh products</option>
            <option value="2">Refrigerated products</option>
            <option value="3">Liquor</option>
            <option value="4">Personal care</option>
            <option value="5">Homeware</option>
            <option value="6">Pet products</option>
        </select><br>
        <label for="is_label">The product is a supermarket label</label>
        <select id="is_label" name="insert_label">
            <option value="" selected disabled hidden>-</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select><br><br>
        <input class="btn" type="submit" value="Insert">
        </form>

    {% elif selected['table'] == 'Store' %}
        <h4>Insert the following data for the new store</h4>
        <form method="POST" action="/modify-tables">
        <input type="hidden" name="form_step" value="three">
        <input type="hidden" name="select_action" value="insert">
        <input type="hidden" name="select_table" value="Store">
        <label for="store_name">Store name</label>
        <input type="text" id="store_name" name="insert_store_name">
        <label for="street">Street</label>
        <input type="text" id="street" name="insert_street_name">
        <label for="street_no">Number</label>
        <input type="text" id="street_no" name="insert_street_number">
        <label for="postal_code">Postal code</label>
        <input type="text" id="postal_code" name="insert_postal_code">
        <label for="city">City</label>
        <input type="text" id="city" name="insert_city"><br>
        <label for="area">Store area in square meters</label>
        <input type="text" id="area" name="insert_area"><br>
        <label for="opening_hours">Opening hours</label>
        <input type="text" id="opening_hours" name="insert_opening_hours"><br><br>
        <input class="btn" type="submit" value="Insert">
        </form>
    
    {% endif %}

{% endif %} 

{% if step == 'done' %}
     <p>Done!<p>
{% elif step == 'error' %}
     <p>An error occured: {{ selected['error'] }}<p>
{% endif %}

</div>

</body>
</html>
