{% extends "layout.html" %}
{% block page_title %}Price history{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block text_title %}Price history as a timeseries{% endblock %}
{% block main_part %}

<h3>Select a product</h3>
<div>
<form method="POST" action="/price-history">
    <label for="barcode_input">Product barcode</label>
    <input type="text" id="barcode_input" name="insert_barcode" placeholder="13-digit number" min_length="13" max_length="13"><br>
    <input class="btn" type="submit" value="Search">
</form>
</div>

{% if data != None %}
<div>
    {% if data['description'] == None %} 
        <h4>There is no registered product with barcode = {{ data['barcode'] }}</h4>
    {% else %}
        <h4>Price history for product "{{ data['description'] }}" with barcode = {{ data['barcode'] }}</h4>
        <table>
          <thead>
            <tr>
                {% for header in data['headers'] %}
                    <th> {{ header|capitalize }} </th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in data['values'] %}
                <tr>
                    {% for cell in row %}
                        <td> {{ cell }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
<div>
{% endif %}

{% endblock %}
