body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

h2 {
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0px;
}

h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 10px 0px;
}

a {
  text-decoration: none;
  color: white;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #0d697de6;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 8px 5px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

form label {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 13px;
  width: 250px;
  font-size: 14px;
}

form input {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 10px;
  padding: 7px;
  outline: none;
}

form input[type="text"] {
  width: 300px;
}

form input[type="submit"] {
  background-color: #0d697de6;
  color: #ffffff;
  padding: 8px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

select {
  border-radius: 5px;
  padding: 5px;
  outline: none;
  margin-right: 5px;
  width: 150px;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #151719;
}

.sidebar ul li {
  color: rgba(230,230,230,0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
